.home-container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    text-align: center;
    min-height: 100vh;
    color: #d8d8d8;
}

.left{
 background-color: #333333;
 width: 50%;
}

.right{
    background-color: #444444;
    width: 50%;
}